* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
table {
    width: 100%;
    height: 500px;
    border-collapse: collapse;
    border: 1px solid black;
}
th {
    text-align: start;
    padding-left: 10px;
}
.first {
    background-color: rgb(206, 73, 73);
}
.second {
    background-color: rgb(36, 140, 36);
}
@media (max-width: 640px) {
        table {
            width: 100%;
            .first {
                background-color: blanchedalmond;
            }
            .second {
                background-color: rgb(101, 231, 231);
            }
        }
    }